.item{
    position: fixed;
    user-select: none;
    cursor: pointer;
    z-index: 2;
}

.red{
    top:200px;
    left: 300px;
    background-color: red;
    width: 300px;
    height: 200px;
}
.blue{
    top:100px;
    left: 150px;
    background-color: blue;
    width: 100px;
    height: 200px;
}
.green{
    top:100px;
    left: 150px;
    background-color: green;
    width: 250px;
    height: 100px;
}

.rotation{
	width: 20px;
	height: 20px;
    background: #cddc39;
    user-select: none;
    cursor: pointer;
    position: absolute;
}

.none{
    display: none !important;
}

.resize{
    position: absolute;
    width: 15px;
    height: 15px;
    cursor: pointer;
    border-radius: 50%; 
    border: 1px solid #5BC2DC;
    user-select: none;
    background-color: white;
    z-index: 2;
    box-sizing: border-box;
}